*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.classpath
.project
proguard/
proguard-project.txt
*.ipr
*.iws
*.pydevproject
.metadata
build/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.idea
build
import-summary.txt